body {
	background-image: url('drug.jpg');
	background-size: cover;
	font-family: Arial, sans-serif;
}

.login-container {
	width: 400px;
	margin: 40px auto;
	background-color: #ffffff;
	padding: 20px;
	border: 1px solid #cccccc;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	background-image: url('images.jpg');
	
}

.login-box {
	padding: 20px;
	color: #af9e4c;
}

.login-box h2 {
	text-align: center;
	margin-bottom: 30px;
}

.input-group {
	margin-bottom: 20px;
}

.input-group label {
	display: block;
	margin-bottom: 10px;
}

.input-group input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.forgot-password {
	text-align: right;
	margin-top: 10px;
}

.forgot-password a {
	color: #337ab7;
	text-decoration: none;
}

.forgot-password a:hover {
	color: #23527c;
}

.green-button {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.green-button:hover {
	background-color: #3e8e41;
}